<template>
   <div id="file-zone">
        <div id="file">

        </div>
    </div>
</template>

<script>
export default {
  name: "FileZone"
};
</script>
<style scoped>
    #file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

    #file {
        width: 600px;
        flex-grow: 1;
        background-color: #fff;
        border: 1px solid #e4dede;
    }
</style>
